@import './common';
@import './example';
.cats {
  object-fit: cover;
  
}

.cat-info {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

body {
    padding: 20px 20px;
}

.is-hidden {
  display: none;
}